{# src/CarnetVoyage/MapBundle/Resources/views/Map/addPhoto.html.twig #}

{% extends "CarnetVoyageMapBundle::layout.html.twig" %}

{% block body %}

    <h2>Enregistrez vos souvenirs</h2>

    {% include "CarnetVoyageMapBundle:Map:formuPhoto.html.twig" %}

{% endblock %}