{# src/CarnetVoyage/MapBundle/Resources/views/Map/index.html.twig #}

{% extends "CarnetVoyageMapBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
     
{% block body %}       
    {% block javascripts %}{{ parent() }}{% endblock %}  
        <h1>Bienvenue sur votre carnet de voyage</h1>
        <div id='worldmap' style='width: 1250px; height: 800px;'></div>
        <script type="text/javascript">
            $(document).ready(function() {
		$('#worldmap').vectorMap({
		    map: 'world',
			hoverOpacity: 0.5,
			hoverColor: false,
			backgroundColor: "#0080FF",
                        colors: {{ pays_visite|raw }},
		    onRegionClick: function(element, pays)
		    {
                        element.preventDefault();
                            // catch the href value

                        var redirect = "./see_country/" + pays;

                        // finally relocate the user to where the href says so.
                        return $(location).attr('href',redirect);
                       }
                                });
            });
       </script>
{% endblock %}