{# src/CarnetVoyage/MapBundle/Resources/views/Map/index.html.twig #}

{% extends "CarnetVoyageMapBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
     
{% block body %}       
    <h1>Bienvenue sur votre carnet de voyage</h1>
    <div id='worldmap'></div>
    <script type="text/javascript">
        $(document).ready(function() 
        {
            var labelPerso = {{ labelCountry|raw }};
            $('#worldmap').vectorMap({
                map: 'world',
                hoverOpacity: 0.5,
                hoverColor: false,
                backgroundColor: "transparent",
                colors: {{ colorCountry|raw }},
                
                onRegionClick: function(element, pays) //Click sur un pays
                {
                    element.preventDefault(); 
                    var redirect = "./seeCountry/" + pays; //renvoie vers la page du pays sélectionné
                    return $(location).attr('href',redirect);
                },
                
                onLabelShow: function(e, label, code) //affichage du label
                {
                    label.html(''+label.text()+'<br/>'+ //nom du pays (déclaré dans le fichier js)
                    labelPerso[code]); // + la liste des voyages (défini dans le controller)
                }
            });
        });
    </script>
{% endblock %}