{# src/CarnetVoyage/MapBundle/Resources/views/Map/listTrip.html.twig #}

{% for trip in trips %}
    <li>
        <a href="{{ path('CarnetVoyageMapModifierVoyage', {'id': trip.id}) }}">
            {{ trip.nom }}
        </a>
    </li>
{% endfor %}