{# src/CarnetVoyage/MapBundle/Resources/views/Map/new_trip.html.twig #}

{% extends "CarnetVoyageMapBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter un voyage</h2>

    {% include "CarnetVoyageMapBundle:Map:formulaireTrip.html.twig" %}

    <p>
        Attention : ce voyage sera ajouté directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}